# Zig build artifacts
main
zig-cache/
.zig-cache/
zig-out/
.codecrafters/
# Compiled binary output
bin/
!bin/.gitkeep

# Ignore any .o or .h files generated during build
*.o
*.h
*.yml
*.sh
# Ignore OS and editor specific files
**/.DS_Store
*.swp
*~
